/target/
.idea/
.vscode/
.settings
.project
.classpath

*.iml
.DS_Store

# Logs (Don't upload error logs)
*.log

# Packaged files (Don't upload libraries dropped in root)
*.jar
*.war

# Vaadin Frontend generation (Keep these!)
node_modules/
src/main/frontend/generated/
vite.generated.ts